* {
  margin: 0;
  padding: 0;
}

.top-container {
  margin-left: 30%;
  width: 300px;
  padding: 2%;
  border-bottom-left-radius: 6%;
}

.top-bar-connection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.time-connection {
  margin-left: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30%;
  width: 95%;
}

.left-text {
  font-weight: 700;
  color: #6070ff;
}

.top-body {
  justify-items: center;
  background: url("../My-Portfolio/assets/header-shapes\ mobile.png");
  background-size: contain;
  background-position: 10ch -2em;
}

.top-body h2 {
  margin-bottom: 0%;
  font-size: 35px;
  font-weight: bolder;
  padding: 5px;
  width: 70%;
  color: #172b4d;
}

.top-body p {
  width: 90%;
  margin-bottom: 5%;
  color: #344563;
}

.footer-connect {
  margin-bottom: 7%;
  color: #7f8cff;
  text-decoration: none;
}

.footer-connect a {
  text-decoration: none;
  font-size: large;
}

.top-footer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40%;
}

.second-container {
  margin-left: 30%;
  width: 300px;
  background-color: #e5e5e5;
  padding: 2%;
  border-radius: 0 0 0 0;
}

.second-containerl {
  margin-left: 30%;
  width: 300px;
  background-color: #e5e5e5;
  /* border: 1px solid green; */
  padding: 2%;
  /* padding-bottom: 50px; */ /* box-shadow: 25px 0  0 0 #0c67c2; */

  border-radius: 0 0 0 0;
}

.inner-second-container {
  /* border: 1px solid black; */
  padding: 4%;
  box-shadow: rgb(163, 17, 17);
  background-color: white;
  border-radius: 4%;
}
.inner-second-containerl {
  /* border: 1px solid black; */
  padding: 4%;
  box-shadow: rgb(163, 17, 17);
  background-color: white;
  border-radius: 4%;
  margin-bottom: 100px;
}

.top-image img {
  width: 100%;
}

.text-inner-container h2 {
  font-weight: 800;
  color: #344563;
  margin-bottom: 2%;
}

.canopy-inner-container {
  display: flex;
  justify-content: space-between;
  /* width: 80%; */
  margin-bottom: 20px;
}

.canopy-inner-container #text1 {
  padding-right: 10px;
  font-size: 13px;
  /* border: 1px solid black; */
  color: #344563;
}

.canopy-inner-container #text {
  color: #7a869a;
}

.canopy-inner-container ul {
  display: flex;
  font-size: 13px;
  justify-content: space-around;
  /* border: 1px solid black; */
  width: 70%;
}

.canopy-daily {
  margin-bottom: 20px;
}

.canopy-list {
  display: flex;
  justify-content: space-between;
  width: 70%;
  /* padding-top: 20px; */
}

.canopy-list p {
  background-color: #ebebff;
  border-radius: 10px;
  padding: 1px 5px;
  color: #6070ff;
}

#second-container-button {
  border: 1px solid #396df2;
  width: 50%;
  border-radius: 10px;
  margin: 20px 0;
  padding: 15px 5px;
  color: #396df2;
  font-size: large;
}

.third-container {
  margin-left: 30%;
  width: 300px;
  padding: 2%;
  border-radius: 0 15% 0 0;
  border-bottom-left-radius: 6%;
}

.lower-body {
  margin-top: 50%;
}

.lower-body h2 {
  font-weight: 800;
  font-size: 42px;
  color: #172b4d;
  margin-bottom: 15px;
}

.lower-body p {
  color: #344563;
  margin-bottom: 20px;
}

.footer-third-container {
  margin-top: 10px;
  margin-bottom: 10%;
}

.footer-third-container a {
  text-decoration: none;
  color: #7f8cff;
}

.lower-footer {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding-left: 15px;
  margin-bottom: 7%;
}

#third-container-button {
  border: 1px solid #396df2;
  width: 50%;
  border-radius: 10px;
  margin: 20px 0;
  padding: 15px 5px;
  color: #396df2;
  font-size: large;
}

.languages-container {
  margin-left: 30%;
  width: 300px;
  padding: 2%;
}

.language-container-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#dropdown-img {
  height: 8px;
}

.dropside-img {
  height: 8px;
  transform: rotate(-90deg);
}

.language-java-script {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  background-color: #f7f7f9;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
  box-shadow: 10px 10px 50px 0 #d7e7f8;
}

#javascript {
  position: absolute;
  top: 15px;
  left: 80px;
}

.language-html {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  background-color: #f7f7f9;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
  box-shadow: 10px 10px 50px 0 #d7e7f8;
}

#html {
  position: absolute;
  top: 15px;
  left: 80px;
}

.language-css {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  background-color: #f7f7f9;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
  box-shadow: 10px 10px 50px 0 #d7e7f8;
}

#css {
  position: absolute;
  top: 15px;
  left: 80px;
}

.language-footer {
  margin-top: 40px;
}

.language-framwork {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.language-skill {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.section {
  margin-left: 30%;
  width: 300px;
  padding: 2%;
  padding-bottom: 0;
  background-color: #6070ff;
}

.contact-me-section {
  margin-top: 80px;
  margin-bottom: 40px;
}

.contact-me-section p {
  text-align: center;
  color: white;
}

.contact-me-section #contact-me {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 15px;
}

.contact-me-section #contact-msg {
  text-align: center;
}

form .text {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5%;
  border: none;
}

form #type-msg {
  width: 90%;
  padding-left: 15px;
  padding-bottom: 50%;
  border-radius: 10px;
  margin-bottom: 5%;
  border: none;
}

.btn-sec {
  position: relative;
}

.sec-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: #6070ff;
  /* height: 20px; */
}

.dot {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 200px;
  top: 8px;
}

.black-linen {
  margin-top: 15px;
  text-align: center;
}
